spring:
  application:
    name: api-gateway
  config:
    import: optional:classpath:application-secrets.properties
  cloud:
    gateway:
      routes:
        - id: user-service-register
          uri: ${user.service.url}
          predicates:
            - Path=/api/users/register
            - Method=POST
          filters:
            - SecurityHeadersFilter
            
        - id: user-service-login
          uri: ${user.service.url}
          predicates:
            - Path=/api/users/login
            - Method=POST
          filters:
            - RateLimitFilter
            - SecurityHeadersFilter
            
        - id: user-service-protected
          uri: ${user.service.url}
          predicates:
            - Path=/api/users/profile/**
          filters:
            - JwtAuthenticationFilter
            - SecurityHeadersFilter
            
        - id: product-service-public
          uri: ${product.service.url}
          predicates:
            - Path=/api/products,/api/products/*
            - Method=GET
          filters:
            - SecurityHeadersFilter
            
        - id: product-service-protected
          uri: ${product.service.url}
          predicates:
            - Path=/api/products/**
          filters:
            - JwtAuthenticationFilter
            - SecurityHeadersFilter
            
        - id: media-service-public
          uri: ${media.service.url}
          predicates:
            - Path=/api/media/*,/api/media/product/**
            - Method=GET
          filters:
            - SecurityHeadersFilter
            
        - id: media-service-protected
          uri: ${media.service.url}
          predicates:
            - Path=/api/media/**
          filters:
            - JwtAuthenticationFilter
            - SecurityHeadersFilter
