server:
  port: 8083

spring:
  application:
    name: api-gateway
  config:
    import: optional:classpath:application-secrets.properties
  codec:
    max-in-memory-size: 10MB

logging:
  level:
    io.github.johneliud.api_gateway: INFO
